<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/links') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/navegacion') %>
    
    <div id="imagenes">
        <% resul_menosvotadas.forEach(item => { %>
            
                <div id="divimg">
                    <img src="<%= item.imagen %>" alt="">
                    <h1>Titulo: <%= item.titulo%></h1>
                    <p>Descripción: <%= item.descrip%></p>
                    <p>Fecha: <%= item.fecha %></p>
                    <div id="botones">
                        <a href="/delete/<%= item.id %>" id="elim">Eliminar</a>
                        <a href="/edit/<%= item.id %>">Editar</a>
                    </div>
                    <div id="iconos">
                        <a href="/like/<%= item.id %>"><i class="fa-regular fa-thumbs-up"></i><p><%= item.likes %></p></a>
                        <a href="/dislike/<%= item.id %>"><i class="fa-regular fa-thumbs-down"></i><p><%= item.dislikes %></p></a>
                    </div>

                </div>
        <% }); %>
    </div>